.modal{
    display: none;
    position: fixed;
    z-index: 1;
    left:0;
    top: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0,0,0,0.9);
}

.modal-guide{
    text-align: center;
    font-size: 16px;
}

.modal-content{
    margin: auto;
    padding-top: 50%;
    display: block;
    width: 100%;
    max-width: 1000px;
}

.modal-caption{
    text-align: center;
    font-size: 28px;
}

.closebtn{
    position: absolute;
    top: 50px;
    right: 50px;
    color: #EEE;
    font-size: 40px;
    font-weight: bold;
}

.closebtn:hover, .closebtn:focus{
    color: #333;
    text-decoration: none;
    cursor: pointer;
}

@media(min-width: 768px)
{
    .modal-content{
        padding-top: 10%;
    }
}